In [48]:
import pandas as pd

In [49]:
from scipy import stats

# 1. Checking whether the company has increased there sales after and before digital marketing

In [50]:
df = pd.read_csv(r'C:\Users\PREM\Desktop\Assignment of DSA\Sales_add.csv')

In [51]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [52]:
df[['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)']].describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [53]:
ttest,pval = stats.ttest_rel(df['Sales_before_digital_add(in $)'], df['Sales_After_digital_add(in $)'])
print(pval)

6.336667004575778e-11

In [54]:
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis

# 2.Checking there is any dependency b/w Region and Manager

In [55]:
from scipy.stats import chi2_contingency

In [56]:
data=pd.crosstab(df["Region"],df["Manager"])
print('contingency_table :\n',data)

contingency_table :
 Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [57]:
stat,p,dof,expected = chi2_contingency(data)
print(f"The Test chi-square value is:\t{stat:3f}")

The Test chi-square value is:	3.050567

In [58]:
p

0.5493991051158094

In [59]:
dof

4

In [60]:
chi2_critical

9.48

In [61]:
if stat>chi2_critical:
    print('Reject null hypothesis')
elif stat<chi2_critical:
    print('Accept null hypothesis')

Accept null hypothesis